*.out
.venv**
*~
__pycache__/
.vscode/settings.json
/circuits**
simulation/pic.svg
simulation/pic2.svg
/pages/index.html
/pages/circuits-*/
/pages/circuits-*.tar.gz
/pages/brickwork-state-table-*/
.DS_Store
