table {
  border-collapse: collapse;
  width: 50%;
}
th, td {
  border: 1px solid #aaa;
  padding: 8px;
  text-align: left;
}
th {
  cursor: pointer;
  background-color: #f2f2f2;
}
figcaption {
  font-style: italic;
}
.name {
  cursor: pointer;
}
dl {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
}
dt {
  grid-column-start: 1;
  font-weight: bold;
}
dd {
  grid-column-start: 2;
  margin-left: 1em;
}
